* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: thistle;
}
#title {
	background-color: blueviolet;
    display: block;
	text-align: center;
	font-family: "American Typewriter", serif;
	font-size: 100px;
	color: black;
	width: 100%;
	height: auto;
	padding: 50px;
}
.userBox {
    display: block;
	text-align: center;
	font-family: "American Typewriter", serif;
	font-size: 20px;
	color: black;
	width: 100%;
	height: auto;
	padding: 50px;
}
#userRock, #userPaper, #userScissors {
    font-size: 150px;
}
.computerBox {
    display: block;
	text-align: center;
	font-family: "American Typewriter", serif;
	font-size: 20px;
	color: black;
	width: 100%;
	height: auto;
	padding: 50px; 
}
#computerChoice {
    font-size: 150px;
}
#result {
    display: block;
	text-align: center;
	font-family: "American Typewriter", serif;
	font-size: 70px;
	color: black;
	width: 100%;
	height: auto;
	padding: 50px; 
}